@import 'bootstrap/dist/css/bootstrap';


.navbar {
    background-color: #FDF6EA !important;
}
    
.navbar-brand {
     font-size: 3rem;
}

.h1 {
    color: red;
}
.button-padding-navbar {
    padding: 10px !important;
    margin: 5px !important;
}

.button-navbar-right {
    padding: 10px !important;
    margin: 5px !important;
}